<div class="movie">
  <div class="ahoy-search">
    <input #movieTitle type="text" (keyup.enter)="searchMovie(movieTitle.value)" placeholder="Search for a movie...">
    <button (click)="searchMovie(movieTitle.value)">Search</button>
  </div>

  <div *ngIf="isValidSearch()" class="ahoy-movie">
    <h1>{{ getTitle() }} ({{ getYear() }})</h1>
    <h2>Directed by {{ getDirector() }}</h2>
    <h2>Awards: {{ getAwards() }}</h2>
    <h2>Rating: {{ getRatings() }}<img class="imdb-logo" src="https://cdn1.iconfinder.com/data/icons/square-logo-buttons/512/imdb-black-512.png"></h2>
    <img [src]="getImgUrl()">
    <p>{{ getPlot() }}</p>

    <button class="already-watched-button" (click)="addToAlreadyWatched()">Add to Already Watched</button>
    <button class="watch-list-button" (click)="addToWatchList()">Add to Watch List</button>
  </div>

  <div *ngIf="isNotFound()">
    <p>No movie found with that title</p>
  </div>

  <div *ngIf="isNotProvided()">
    <p>Please provide a title to search for</p>
  </div>

  <div *ngIf="getAlreadyWatchedList().length">
    <h3>Already Watched:</h3>
    <ul>
      <li *ngFor="let movie of getAlreadyWatchedList(); let i = index">
        <button (click)="removeFromAlreadyWatched(movie)">Remove</button><button (click)="searchMovie(movie)">Lookup</button>{{ i + 1 }}: {{ movie }}
      </li>
    </ul>
  </div>

  <div *ngIf="getWatchList().length">
    <h3>Watch List:</h3>
    <ul>
      <li *ngFor="let movie of getWatchList(); let i = index">
        <button (click)="seen(movie)">Seen It!</button> <button (click)="removeFromWatchList(movie)">Remove</button><button (click)="searchMovie(movie)">Lookup</button>{{ i + 1 }}: {{ movie }}
      </li>
    </ul>
  </div>
</div>
